@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&family=The+Nautigal&family=Titillium+Web:wght@200&display=swap');


*{
    margin: 0;
    padding: 0;
}

.container{
    display: flex;
    height: 100vh;
}

nav{
    background-color: orange;
    color: white;
    width: 15vw;
    height: 100vh;
}
.main{
    background-image:url(/background.jpg) ;
    font-size: 20px;
    width: 85vw;
}
.info{
background-color:orange;   
 color: rgb(255, 255, 255);
    width: 70vw;
    height: 70vh;
    border-radius: 22vh 0vw;
    /* margin: 55px 92px; */
    display: flex;
}
div.info{
    margin: 15vh 8vw;
    font-family: 'Mochiy Pop P One', sans-serif;
    display: flex;
    /* align-items: center; */
}
div.devinfo{
    padding: 24vh 13vw;
}
.devPic img{
    width:9vw ;
    height: 25vh;
    /* margin: 23vh 48vw; */
}
.name{
    /* font-size: 5vh 5vw; */
}
.buttons {
    padding: 4vh 3vw;
    
}
.buttons button{
    padding: 2vh 2vw;
    border:solid orange;
    border-radius: 3vh;
}
.buttons button:hover{
    background-color: black;
    color: white;
}
li {
    
    list-style: none;
    padding: 14px;
}
.sidebar nav li a{
    text-decoration: none;
    color: white;
}
.devinfo a{
    text-decoration: none;
    color: orange;
}
/* .buttons button a:hover{
    color: white;
} */
li:hover{
    background-color: black;
    color: white;
}
