@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&family=The+Nautigal&family=Titillium+Web:wght@200&display=swap');


*{
    margin: 0;
    padding: 0;
}

.container{
    display: flex;
    height: 100vh;
}

nav{
    background-color:black ;
    color: white;
    width: 15vw;
    height: 100vh;
}
.main{
    background-color:thistle;
    color: black;
    font-size: 20px;
    width: 85vw;
}
.info{
    background-color: violet;
    width: 70vw;
    height: 70vh;
    margin: 55px 92px;
    display: flex;
    justify-content: center;
    align-items: center;
}
div.hello{
    margin: 55px 253px;
    font-family: 'Mochiy Pop P One', sans-serif;
    /* font-size: 34px; */
}
.devPic img{
    width: 132px;
    height: 144px;
}
li{
    list-style: none;
    padding: 14px;
}